@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/Fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Rotate object 180*/
.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}
/* End of Rotate object */


/*News Button in Hero.tsx*/
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 5px;
  background: #2199096e;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #225119;
}

.cta:hover svg {
  transform: translateX(0);
  stroke: #ffffff;
}

.cta:hover span {
  transition: all 0.3s ease;
  color: #ffffff;
}

.cta:active {
  transform: scale(0.95);
}
/*End of News Button in Hero.tsx*/



/* FlipCards Style in Hero.tsx */
.card {
  width: 16rem;
  height: 16rem;
  perspective: 1000px;
  border: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #207133;
  color: #fff;
  display: flex;
  align-items: center;
  border: 1px transparent #207133;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
  background-size: cover;
  background-position: center;
}

.card-back {
  background-color: #e7e7e7;
  color: #000000;
  display: flex;
  align-items: center;
  border: 10px solid #e7e7e7;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
/* End of FlipCards Style in Hero.tsx */



/* Button Header */
.btnHeader {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #207133;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btnHeader::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #207133;
  transition: 0.5s ease;
}

.btnHeader:hover {
  color: #ffffff;
  transition-delay: 0.5s;
  background-color: #207133;
}

.btnHeader:hover::before {
  width: 100%;
}

.btnHeader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #207133;
  transition: 0.4s ease;
  z-index: -1;
}

.btnHeader:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: #235c37;
}
/* End Button Header */


/*Scrollbar style*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-rounded::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-rounded::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollbar-rounded::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* End of Scrollbar Style */

/*Button top*/
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #207133;
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

/* Sticky position */

.sticky-position {
  position: sticky;
  top: 64px;
  z-index: 50;
}


/* SocialButtons Gradient*/
.InstagramButton{
  background: linear-gradient(45deg,  #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D,#FFDC80);
}
.InstagramButton:hover{
  background: linear-gradient(45deg, #6b65df, #904fbc, #bf5390, #e66c95, #fb5757,#fbe09b );
}

/*Second card type in Nosotros/Talent page*/

.cardSecond {
  position: relative;
  width: 13rem;
  height: 13rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardSecond svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardSecond:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cardSecond__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardSecond:hover .cardSecond__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.cardSecond__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.cardSecond__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.cardSecond:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

/*CardSecond Colors*/

.CardSecondOne{
  background: linear-gradient(-45deg, #f87829 0%, #ff0f0f 100% );
}
.CardSecondTwo{
  background: linear-gradient(-45deg, #9429f8 0%, #ff0ffb 100% );
}
.CardSecondThree{
  background: linear-gradient(-45deg, #fdff6c 0%, #ffe30f 100% );
}
.CardSecondFour{
  background: linear-gradient(-45deg, #ceff5c 0%, #0fff23 100% );
}
.CardSecondFive{
  background: linear-gradient(-45deg, #ffd862 0%, #ff8f0f 100% );
}
.CardSecondSix{
  background: linear-gradient(-45deg, #72ffff 0%, #0fe3ff 100% );
}
.CardSecondSeven{
  background: linear-gradient(-45deg, #f829d6 0%, #ae0b88 100% );
}
.CardSecondEight{
  background: linear-gradient(-45deg, #52b9fd 0%, #0d8fd0 100% );
}
.CardSecondNine{
  background: linear-gradient(-45deg, #29b0f8 0%, #0f17ff 100% );
}

/*ButtonCulture*/
.buttonCulture {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  border-radius: 2rem;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}


.buttonCulture:hover {
  transform: scale(1.10);
  border-color: #fff9;
}

.buttonCulture:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.buttonCulture::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -200px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
.ButtonCultureOne{
  background: linear-gradient(-45deg, #ffca68 0%, #ffa702 100% );
}
.ButtonCultureTwo{
  background: linear-gradient(-45deg, #9eff9e 0%, #34ff34 100% );
}
.ButtonCultureThree{
  background: linear-gradient(-45deg, #53e991 0%, #00963e 100% );
}
.ButtonCultureFour{
  background: linear-gradient(-45deg, #ac6dff 0%, #6f00ff 100% );
}
.ButtonCultureFive{
  background: linear-gradient(-45deg, #ff6262 0%, #ff1515 100% );
}


/* FlipCards Style in HeroCulture */
.cardCulture {
  width: 13rem;
  height: 16rem;
  perspective: 1000px;
  border: none;
}

.cardCulture-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.cardCulture:hover .cardCulture-inner {
  transform: rotateY(180deg);
}

.cardCulture-front,
.cardCulture-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardCulture-front {
  background-color: #207133;
  color: #fff;
  display: flex;
  align-items: center;
  border: 1px transparent #207133;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
  background-size: cover;
  background-position: center;
}

.cardCulture-back {
  background-color: #e7e7e7;
  color: #000000;
  display: flex;
  align-items: center;
  border: 10px solid #e7e7e7;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
/* End of FlipCards Style in Hero.tsx */

/* image im counter LandingPage*/
.image-background {
  width: 100%; /* Ancho del div */
  height: 100%; /* Altura del div */
  background-image: url('/kalisch-1.jpg'); /* Ruta del video */
  background-size: cover;
  background-position: center; /* Centra el GIF en el div */
}

#background-video {
  object-fit: cover; /* Asegura que el video cubra todo el área del div */
}


.image-background-News {
  width: 100%;
  height: 100%;
  background-image: url('/noticias-1.jpg');
  background-size: cover;
  background-position: center;
}

.image-background-times1967 {
  width: 100%;
  height: 100%;
  background-image: url('/1967.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times1979 {
  width: 100%;
  height: 100%;
  background-image: url('/1979.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times1983 {
  width: 100%;
  height: 100%;
  background-image: url('/1983.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times1993 {
  width: 100%;
  height: 100%;
  background-image: url('/1993.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times1999 {
  width: 100%;
  height: 100%;
  background-image: url('/1999.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times2005 {
  width: 100%;
  height: 100%;
  background-image: url('/2005.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times2008 {
  width: 100%;
  height: 100%;
  background-image: url('/2008.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times2009 {
  width: 100%;
  height: 100%;
  background-image: url('/2009.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times2015 {
  width: 100%;
  height: 100%;
  background-image: url('/2015.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times2017 {
  width: 100%;
  height: 100%;
  background-image: url('/2017.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times2021 {
  width: 100%;
  height: 100%;
  background-image: url('/2021.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.image-background-times2023 {
  width: 100%;
  height: 100%;
  background-image: url('/2023.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  background-blend-mode: overlay; /* Mezcla el color de fondo con la imagen */

}

.BackgroundCotizar{
  background: linear-gradient(45deg, #38ff84, #2ef078, #2ad36b, #1b9249, #1b8343,#0d4623 );
}

/*Slide up from cotizar*/
@keyframes slide-up {
  from {
    transform: translateX(-240px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 1s ease-out forwards;
}


/*Button dashboard*/
.buttonDashboard1 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #056912;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #056912;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.buttonDashboard1:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #056912;
  z-index: -1;
}

.buttonDashboard1:hover, .buttonDashboard1:focus {
  color: white;
}

.buttonDashboard1:hover:before, .buttonDashboard1:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.buttonDashboard1:active {
  transform: scale(0.9);
}

/*Button dashboard2*/
.buttonDashboard2 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #cc1717;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #cc1717;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.buttonDashboard2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #cc1717;
  z-index: -1;
}

.buttonDashboard2:hover, .buttonDashboard2:focus {
  color: white;
}

.buttonDashboard2:hover:before, .buttonDashboard2:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.buttonDashboard2:active {
  transform: scale(0.9);
}

/*Button dashboard3*/
.buttonDashboard3 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #3b17cc;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #3b17cc;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.buttonDashboard3:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #3b17cc;
  z-index: -1;
}

.buttonDashboard3:hover, .buttonDashboard2:focus {
  color: white;
}

.buttonDashboard3:hover:before, .buttonDashboard2:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.buttonDashboard3:active {
  transform: scale(0.9);
}


/*Button dashboard4*/
.buttonDashboard4 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #9617cc;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #9617cc;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.buttonDashboard4:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #9617cc;
  z-index: -1;
}

.buttonDashboard4:hover, .buttonDashboard4:focus {
  color: white;
}

.buttonDashboard4:hover:before, .buttonDashboard4:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.buttonDashboard4:active {
  transform: scale(0.9);
}


/*Button dashboard5*/
.buttonDashboard5 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #17cc96;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #17cc96;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.buttonDashboard5:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #17cc96;
  z-index: -1;
}

.buttonDashboard5:hover, .buttonDashboard5:focus {
  color: white;
}

.buttonDashboard5:hover:before, .buttonDashboard5:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.buttonDashboard5:active {
  transform: scale(0.9);
}


/*Button dashboard6*/
.buttonDashboard6 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #dbe212;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #dbe212;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.buttonDashboard6:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #dbe212;
  z-index: -1;
}

.buttonDashboard6:hover, .buttonDashboard6:focus {
  color: white;
}

.buttonDashboard6:hover:before, .buttonDashboard6:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.buttonDashboard6:active {
  transform: scale(0.9);
}


/* background 404 */
.bg-404 {
  background-image: url('/kalisch-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
